<p [class.highlight]="isUpdatePrefix"
   [style.font-size.px]="fontSize">{{prefix}}, Message from Parent: {{message}}</p>

<p *ngIf="isUpdatePrefix">
  前言已更新！
</p>

<!-- <pre>{{ fakeUsers | json }}</pre> -->

<table border="1">
  <tr>
    <th>#</th>
    <th>id</th>
    <th>name</th>
    <th>email</th>
  </tr>
  <tr *ngFor="let user of fakeUsers; let i=index"
      class="highlight1"
      [class.highlight2]="i % 2 == 0"
      [ngClass]="{ highlight3: i%2==0 }">
    <td>
      <span [ngSwitch]="i">
        <p *ngSwitchCase="0">
        Zero
        </p>
        <p *ngSwitchCase="1">
          ID=1
        </p>
        <p *ngSwitchDefault>
          {{ i }}
          /
          {{ 899 | currency:'TWD':'symbol':'1.0-0' }}
          /
          {{ 0.38 | percent }}
          /
          {{ now | date:'yyyy-MM-dd' }}
          /
          {{ now | twdate }}
        </p>
      </span>

    </td>
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
  </tr>
</table>

<button (click)="updatePrefix()">更新前言</button>
