<p [class.highlight]="isUpdatePrefix"
   [style.font-size.px]="fontSize">{{prefix}}, Message from Parent: {{message}}</p>

<p *ngIf="isUpdatePrefix">
  前言已更新！
</p>

<!-- <pre>{{ fakeUsers | json }}</pre> -->

<table border="1">
  <tr>
    <th>#</th>
    <th>id</th>
    <th>name</th>
    <th>email</th>
  </tr>
  <tr *ngFor="let user of fakeUsers; let i=index">
    <td>{{i}}</td>
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
  </tr>
</table>

<button (click)="updatePrefix()">更新前言</button>
