<div (mousemove)="ShowCoordinate($event)">
  <h1>Title: {{title}}</h1>
  <hr>
  <app-header #mHeader [message]="title" (update)="title = $event"></app-header>
  <hr>
  <button (click)="changeTitle('新的標題');mHeader.updatePrefixFromExternal('新的標題')">點我變更標題</button>
  <hr>
  <code class="highlight" [title]="title">{{title}}</code>
  <hr>
  座標: <code>{{x}} , {{y}}</code>
  <hr>
  <textarea #mTextarea [(ngModel)]="title" rows="5" cols="20"
    (keyup.escape)="clearTitle()"></textarea>
  <button type="button" (click)="doSubmit(mTextarea.value)">送出</button>

</div>
